body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(240, 229, 241);
}

.heading {
    margin: 6px;
    font-size: x-large;
    align-items: center;
}

.text input[type="text"],
input[type="date"] {
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid #673ab7;
    color: #673ab7;
    border-radius: 10px;
    margin-top: 5px;
}

input[type="date"] {
    text-align: center;
}

.desc {
    font-size: medium !important;
}

.heading {
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #673ab7;
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    overflow: auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 50px;
}

hr {
    opacity: 0.4;
    border-top: 2px solid #673ab7;
}

button {
    margin-top: 20px;
    margin-left: 70px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 8px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(95, 19, 167);
    transform: scale(1) translate(2px, -2px);
}

.Labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #673ab7;
}

.op {
    display: flex;
    flex-direction: row;
    background-color: #673ab7;
}

input[type="date"],
input[type="text"] {
    width: 200px;
    height: 20px;
    padding: 5px;
    border: 1px solid #673ab7;
    border-radius: 10px;
}

.text label {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
}