body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url('https://cdn.pixabay.com/photo/2016/10/29/10/12/purple-1780371_1280.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #777;
    margin-bottom: 30px;
}

.google-login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}