<body>
<div class="feedback-container">
    <div class="feedback-header">
      <h1>Thank you for your feedback!</h1>
      <p>Your response has been recorded.</p>
    </div>
  
    <div class="feedback-image-container">
      <img src="https://westgateoxford.co.uk/sites/westgate/files/styles/whats_on_scaled_body/public/images/single/syt_generic_digital_assets_page_header_800x200_thank_you_1.png?itok=gVwWD2CT" alt="Feedback Image" />
    </div>
  
    <div class="feedback-details">
      <h2>Summary of your feedback:</h2>
       <a routerLink="/edit-response" class="edit-link"><mat-icon>edit_square</mat-icon> Edit your response</a>
    </div>
  </div>
</body>
  