<mat-toolbar color="primary" class="mat-elevation-z6">
  <div class="center-items">
    <mat-icon>blur_on</mat-icon>
    <span>Online Forms</span>
    <div class="spacer"></div>

    <div class="search-form" title="Search Here">
      <input matInput [matAutocomplete]="auto" placeholder="Search.." [(ngModel)]="searchText" (input)="filterForms()">
      <mat-autocomplete #auto>
        <mat-option *ngFor="let form of filteredForms" (click)="getform(form)">{{form.formname}}</mat-option>
      </mat-autocomplete>
    </div>

    <div class="account">
      <button mat-raised-button title="Account"
        (click)="this.service.clear()">Logout<mat-icon>person</mat-icon></button>
    </div>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
<app-template-gallery></app-template-gallery>