body {
    margin-top: 0;
    padding: 0;
    padding-top: 30px;
    background-color: rgb(240, 229, 241);
}


// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }


.submission-container {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 50px;
}


.submission-header {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #673ab7;
    ;
}

.submission-header p {
    font-size: 18px;
    color: #673ab7;
    ;
}


.submission-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.submission-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.submission-details {
    margin-top: 20px;
    color: #673ab7;
    ;
}

.submission-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #673ab7;
    ;
}



.submission-details .edit-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: rgb(0, 125, 250);
    text-decoration: none;
}

.submission-details .edit-link:hover {
    text-decoration: underline;
}

.submission-details .edit-link mat-icon {
    margin-right: 5px;
}


@media screen and (max-width: 768px) {
    .submission-container {
        padding: 10px;
    }

    .submission-header h1 {
        font-size: 24px;
    }

    .submission-header p {
        font-size: 16px;
    }

    .submission-image-container {
        margin-bottom: 10px;
    }

    .submission-image-container img {
        border-radius: 0;
    }

    .submission-details h2 {
        font-size: 20px;
    }

    .submission-details .edit-link {
        font-size: 16px;
    }
}