<body>
    <div class="submission-container">
        <div class="submission-header">
            <h2>Submissions for this Form has been Closed!</h2>

        </div>

        <div class="submission-image-container">
            <img src="https://www.wlu.ca/information-for/community-members/assets/images/community-hub-banner-purple.jpg"
                alt="Submission window closed" />
        </div>

        <!-- <div class="feedback-details">
      <h2>Summary of your feedback:</h2>
      <a routerLink="/editresponse" class="edit-link"><mat-icon>edit_square</mat-icon> Edit your response</a>
    </div> -->
    </div>
</body>