.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(240, 229, 241);
}

.top,
.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 20px 20px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.bottom {
  margin-top: 0px;
}

.top h2,
.bottom h2 {
  position: absolute;
  text-decoration: underline;
  left: 20px;
  margin-left: 10px;
  margin-top: -50px;
  font-size: 20px;
  color: #673ab7;
}

.top h2 {
  position: absolute;
  text-decoration: underline;
  top: 70px;
  margin-top: 20px;
}

.bottom h2 {
  position: absolute;
  text-decoration: underline;
  margin-top: -50px;
}

.bottom-section {
  position: relative;
}

.templates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.top template,
.bottom template {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  flex-basis: calc((100% / 5) - 40px);
}

.template:hover {
  transform: scale(1.05) translate(5px, -5px);
}

.template-image {
  height: 180px;
  width: 180px;
  margin-bottom: 10px;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px rgb(217, 209, 226);
}

.template-text {
  font-size: 16px;
  color: #673ab7;
  margin-top: 10px;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 768px) {

  .top h2,
  .bottom h2 {
    position: static;
    margin-top: 20px;
    text-align: center;
  }

  .template-image {
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {

  .top h2,
  .bottom h2 {
    margin-top: 0;
    font-size: 18px;
  }

  .templates-container {
    margin-top: 10px;
  }

  .template-image {
    height: 120px;
    width: 120px;
    margin-bottom: 5px;
  }

  .template-text {
    font-size: 14px;
  }
}