<body>
  <div class="container">
    <div class="top section">


      <div class="heading">
        <h2>Template Gallery</h2>
      </div>
      <div class="templates-container">
        <div class="template blank-template">
          <a routerLink="/form" title="Create Form" (click)="this.service.formdataclear()">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxoHfL_WcQ_Z6H7_50273A5uJ_MjKazoReuSQxqQLQrGkww_U4inkl-kWJANXoaNLXvQU&usqp=CAU"
              alt="Blank Template" class="template-image">
          </a>
          <span class="template-text">Blank Form</span>
        </div>
        <div class="template">
          <a routerLink="">
            <img
              src="https://media.istockphoto.com/id/1095289632/vector/purple-user-icon-in-the-circle-a-solid-gradient.jpg?s=170667a&w=0&k=20&c=6alqheCrBtEMOMBm3eNxQYso8jbExk-jTdedSePQbtE="
              alt="Template 1" class="template-image">
          </a>
          <span class="template-text">Login Form</span>
        </div>
        <div class="template">
          <a routerLink="quiz-form.html">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvhMXC-RuIUoAa01mh2Y2tO2jAB2j7LewSn92PEBbOH-lUoJR8sjbyuApqH3bQ0JY-C3Y&usqp=CAU"
              alt="Template 2" class="template-image">
          </a>
          <span class="template-text">Quiz Creation</span>
        </div>
        <div class="template">
          <a routerLink="contact-form.html">
            <img
              src="https://images.creativemarket.com/0.1.0/ps/13322764/1160/772/m1/fpnw/wm0/22-06-13-business-icons-tat-gradient-21-.jpg?1662022230&s=43f3c7d2be1f9835ce93f165bf4b2a95"
              alt="Template 3" class="template-image">
          </a>
          <span class="template-text">Contact Form</span>
        </div>
      </div>


    </div>
    <div class="bottom section">
      <div class="heading">
        <h2>Recent Forms</h2>
      </div>
      <div class="templates-container">
        <span *ngFor="let form of forms.reverse().slice(0, 3) let i=index">
          <div class="template">
            <a (click)="navbar.getform(form)">
              <img src="https://file.forms.app/sitefile/1669970831345.jpg" alt="Recent {{i}}" class="template-image">
              <span class="template-text">{{form.formname}}</span>
            </a>
          </div>
        </span>
        <div class="template">
          <a routerLink="/all-forms">
            <img src="https://cdn-icons-png.flaticon.com/256/6156/6156318.png" alt="Template 3" class="template-image">
          </a>
          <span class="template-text">See All Forms</span>
        </div>
      </div>
    </div>
  </div>
</body>