<form (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let field of formFields">
      <div *ngIf="field.type === 'text'">
        <label>{{ field.label }}</label>
        <input type="text" [name]="field.name">
      </div>
      <div *ngIf="field.type === 'radio'">
        <label>{{ field.label }}</label>
        <ng-container *ngFor="let option of field.options">
          <input type="radio" [name]="field.name" [value]="option.value">{{ option.label }}
        </ng-container>
      </div>
      <div *ngIf="field.type === 'checkbox'">
        <label>{{ field.label }}</label>
        <ng-container *ngFor="let option of field.options">
          <input type="checkbox" [name]="field.name" [value]="option.value">{{ option.label }}
        </ng-container>
      </div>
    </ng-container>
    <button type="submit">Submit</button>
  </form>
  <div>
  <button (click)="addField('text')">Add Text Field</button>
  <button (click)="addField('radio')">Add Radio Button</button>
  <button (click)="addField('checkbox')">Add Checkbox</button>
  </div>
