<app-navbar-only></app-navbar-only>

<body>
  <div class="forms-container">
    <mat-tab-group>
      <mat-tab label="Form">

        <div class="container">

          <div class="left">

            <input type="text" name="myInput" [(ngModel)]="formname" placeholder="Form Name">
            <br>
            <input type="text" id="lname" name="lname" [(ngModel)]="desc" placeholder="Description" style="font-size: small;">
            <hr>
            <ng-container *ngFor="let field of forms.fieldsList; let i = index ">
              <div class="list-item" >
            
                <div *ngIf="field.toolid === 1">
                  <label>{{ field.fieldName }}</label>
                  <input type="text" [name]="field.fieldName">
                </div>
            
                <div *ngIf="field.toolid === 3">
                  <label>{{ field.fieldName }}</label>
                  <ng-container *ngFor="let option of field.names">
                    <input type="radio" [name]="field.fieldName" [value]="field.fieldName">{{ option }}
                  </ng-container>
                </div>
            
                <div *ngIf="field.toolid === 2">
                  <label>{{ field.fieldName }}</label>
                  <ng-container *ngFor="let option of field.names">
                    <input type="checkbox" [name]="field.fieldName" [value]="field.fieldName">{{ option }}
                  </ng-container>
                </div>
            
                <div *ngIf="field.toolid === 8">
                  <button>{{field.fieldName}}</button>
                </div>
                
                <div *ngIf="field.toolid === 5">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{field.fieldName}}</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <button mat-raised-button (click)="picker.open()">Open</button>
                </div>
                
                <span class="index">{{ i }}</span>
              </div>
            </ng-container>
          </div>

          <div class="right">

            <mat-tab-group>
              <mat-tab label="Input">
                <div class="textfield">
                  <label>label</label>
                  <input type="text" placeholder="New Field">
                </div>
                <button (click)="addField('Text')">Add Field</button>

              </mat-tab>

              <mat-tab label="Radios / Checkboxes">
                <label>radio button</label>
                <input type="radio" value="option 1">
                <input type="radio" value="option 2">
                <button (click)="addField('Radio Button')">Add Radio</button>

                <label>radio button</label>
                <input type="checkbox" value="option 1">
                <input type="checkbox" value="option 2">
                <button (click)="addField('Check Box')">Add checkbox</button>
              </mat-tab>

              <mat-tab label="Buttons">
                <button mat-raised-button (click)="addField('button')">Add Button</button>
              </mat-tab>

              <mat-tab label="Date / Time" (click)="addField('DatePicker')">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button mat-raised-button (click)="addField('DateTime')">Open</button>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <button (click)="saveforms()">Save Form</button>
      </mat-tab>

      <mat-tab label="Responses">
        <mat-divider></mat-divider>
        <div class="responses-header">
          <h3>Number of responses:</h3>
          <mat-slide-toggle>Recieving Responses</mat-slide-toggle>
          <h4>List of users/IDs:</h4>
          <div class="user-list" *ngFor="let user of userlist">
            <div class="user-wrapper">
              <a routerLink="/response/{{ user.id }}" class="user-item">{{ user.name }}</a>
            </div>

            <div class="icons">
              <mat-icon class="icon-button" routerLink="">delete</mat-icon>
              <mat-icon class="icon-button" routerLink="">print</mat-icon>
            </div>

          </div>

        </div>

      </mat-tab>
      
    </mat-tab-group>
  </div>
</body>