<app-navbar-only></app-navbar-only>
<body>
  <div class="forms-container">
<mat-tab-group>
    <mat-tab label="Form">

        <div class="container">

            <div class="left">
             
              <input type="text" name="myInput" placeholder="Form Name">
              <br>    
              <input type="text" id="lname" name="lname" placeholder="Description" style="font-size: small;">
              <hr>
              <div class="textfield" *ngFor="let field of fields">
                    <label>{{ field.name }}</label>
                    <input type="text">
                  </div>


            </div>

            <div class="right">

              <mat-tab-group>
                <mat-tab label="Input">
              <div class="textfield">
                <label>label</label>
                <input type="text" placeholder="New Field">
              </div>
           
                <button (click)="addField()">Add Field</button>

                </mat-tab>

                <mat-tab label="Radios / Checkboxes">
                  

                </mat-tab> 
                <mat-tab label="Buttons">
                  

                </mat-tab> 
                <mat-tab label="Date / Time">
                  

                </mat-tab>


                </mat-tab-group>

            </div>

            

        </div>


    </mat-tab>

    <mat-tab label="Responses">
      <mat-divider></mat-divider>
      <div class="responses-header">
        <h3>Number of responses:</h3>
        <mat-slide-toggle>Recieving Responses</mat-slide-toggle>
        <h4>List of users/IDs:</h4>
        <div class="user-list">
          <div *ngFor="let user of userlist">
            <a routerLink="/response/{{ user.id }}" class="user-item">{{ user.name }} 
               <div class="icons">
                <mat-icon class="icon-button" routerLink="">delete</mat-icon>
                <mat-icon class="icon-button" routerLink="">print</mat-icon>
              </div> </a>
             
            <hr>
          </div>
        </div>
      </div>

    </mat-tab>

</mat-tab-group>
</div>
</body>