body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(240, 229, 241);
}

body,
.container,
.textfield,
.textfield label,
.textfield input[type="text"],
.left input:first-child,
.receiving-responses,
input,
#Test_Date,
.formname,
.description,
hr,
mat-divider,
::placeholder,
button,
.forms-container,
.example-form,
.example-full-width,
.left,
.text,
.right,
.responses-header,
.responses,
h3,
h4,
.user-list,
.user-wrapper,
mat-icon {
  color: #673ab7;
}


body,
.container,
.textfield,
.textfield label,
.textfield input[type="text"],
.receiving-responses,
input,
#Test_Date,
.textfield input[type="text"]:hover,
.textfield input[type="text"]:focus,
.button,
.forms-container,
.example-form,
.example-full-width,
.left,
.text,
.right,
.responses-header,
.responses,
.user-list {
  text-align: center;
}

body,
.container,
.textfield,
.textfield label,
.textfield input[type="text"],
.receiving-responses,
input,
#Test_Date,
.forms-container,
.example-form,
.example-full-width,
.left,
.text,
.right,
.responses-header,
.responses,
.user-list {
  color: #673ab7;
  margin-bottom: 0;
}

.formfield {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: #f3ecff;
  border-radius: 20px;
  padding: 20px;
}

.heading {
  width: 100%;
}

.h2 {
  margin-right: 50%;
  font-size: medium;
}

hr,
mat-divider {
  opacity: 0.4;
  border-top: 2px solid #673ab7;
}

::placeholder {
  color: #673ab7;
  opacity: 0.4;
}

button {
  margin-top: 25px;
  margin-left: 40px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 8px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: rgb(95, 19, 167);
  transform: scale(1) translate(2px, -2px);
}

.forms-container {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
}

.left input:first-child {
  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

.textfield {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.textfield label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.textfield input[type="text"]:hover {
  border-color: #8c8c8c;
}

.textfield input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.right {
  flex: 1 1;
  border-top: 1px solid #e6e6e6;
  margin-right: 40px;
}

.formLink {
  margin-top: 50px;
}

.responses-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.responses {
  border: 1px solid black;
  padding: 20px;
}

h3 {
  margin-top: 20px;
}

h3 {
  font-weight: 400;
  text-decoration: underline;
  margin-top: 40px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.user-wrapper {
  font-size: medium;
}

.left {
  display: grid;
  grid-template-columns: max-content;
  grid-gap: 10px;
  align-items: center;
}

.left-align {
  margin-right: 60px;
  margin-left: 40px;
}

.Labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #673ab7;
}

.op {
  display: flex;
  flex-direction: row;
  background-color: #673ab7;
}

.text input[type="text"],
input[type="date"] {
  width: 200px;
  height: 20px;
  padding: 5px;
  border: 1.5px solid #673ab7;
  border-radius: 10px;
}

.text label {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.formname,
.description {
  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.edit-delete-buttons,
.print-delete-buttons {
  margin-top: 20px;
  margin-left: 10px;
  align-items: center;
  cursor: pointer;
}

mat-icon {
  margin-left: 10px;
}

mat-icon:hover {
  transform: scale(1) translate(2px, -2px);
}

.print-icon,
.delete-icon {
  margin-bottom: 10px;
}

.background {
  border-radius: 20px;
  margin-top: 30px;
  background-color: #f3ecff;
  width: 100%;
}