<div class="popup">
    <h1 mat-dialog-title>
        Fill Basic Details
    </h1>
    <div mat-dialog-content>
        <input class="label" type="type" placeholder="Label Name" matInput [(ngModel)]="Name"><br>
        <input class="label" *ngIf="type === 'radio' || type === 'checkbox'" type="type" placeholder="Option...n" matInput [(ngModel)]="optionName"><br>
        

        <ng-container *ngFor="let option of options; let i = index;">
            <input *ngIf="type === 'radio'" type="radio" placeholder="option {{i + 1}}" [placeholder]="option">
            <input *ngIf="type === 'checkbox'" type="checkbox" placeholder="option {{i + 1}}" [placeholder]="option">
            <label>{{option}}</label><br>
        </ng-container>
        <mat-slide-toggle *ngIf="type != 'button'" [(ngModel)]="isOptional" color="primary"><span
                class="required-text">Required</span></mat-slide-toggle>
    </div>

    <div mat-dialog-actions>
        <button *ngIf="type == 'radio'|| type == 'checkbox'" (click)="addOption()">Add
            option</button>
        <button (click)="OnSave()">Submit</button>
        <button [mat-dialog-close]>Close</button>
    </div>
</div>