<h1 mat-dialog-title>
    Fill Basic Details
    </h1>
    <div mat-dialog-content>
    <mat-form-field>
    <input placeholder="label Name" matInput [(ngModel)]="Name">
    </mat-form-field><br>
    <!-- <mat-form-field>
    <input placeholder="Last Name" matInput [(ngModel)]="lastName">
    </mat-form-field> -->
    <mat-slide-toggle  [(ngModel)]="isOptional">isOptional</mat-slide-toggle>
    </div>
    <div mat-dialog-actions>
    <button mat-button (click)="OnSave()">Submit</button>
    <button mat-button [mat-dialog-close]>Close</button>
    </div>