mat-dialog-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
}

div,
div h1,
div div {
    text-align: center;
    justify-content: center;
}

div h1,
input,
.required-text {
    color: #673ab7;
}

.label {
    box-shadow: 1px 1px 1px rgb(168, 161, 161);
    border-radius: 10px;
    height: 30px;
    border-color: #673ab7;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"],
input[type="type"] {
    margin-bottom: 8px;
}

label {
    margin-bottom: 8px;
}

::placeholder {
    color: #673ab7;
    opacity: 0.4;
}

button[mat-raised-button] {
    margin-top: 40px;
}

mat-slide-toggle {
    margin-top: 40px;
}

button {
    margin-top: 20px;
    margin-left: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 8px;
    box-shadow: 0 2px 4px rgb(168, 161, 161);
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(95, 19, 167);
    transform: scale(1) translate(2px, -2px);
}