<app-navbar-only></app-navbar-only>

<body>
  <table class="container">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Fill Date</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th *ngFor="let fieldName of getFieldNames()"> {{ fieldName }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userdata">
        <td>{{ item.user.userid }}</td>
        <td>{{ item.user.username }}</td>
        <td>{{ item.user.userpassword }}</td>
        <td>{{ item.filldate }}</td>
        <td>{{ item.user.userfirstname }}</td>
        <td>{{ item.user.userlastname }}</td>
        <td>{{ item.user.useremailid }}</td>

        <td *ngFor="let fieldName of getFieldNames()">{{ getFieldValue(item, fieldName) }}</td>
      </tr>
    </tbody>
    <button (click)="exportToExcel()">Export to Excel</button>
  </table>
  <button routerLink="/form" class="back" title="Go Back">Back</button>
</body>