<body>
    <app-navbar-only></app-navbar-only>
    <div class="container">
        <h2>See all Forms Here:</h2>
        <mat-accordion class="accordion">
            <mat-expansion-panel class="panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                *ngFor="let form of forms let i=index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{form.formid}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{form.formname}}
                    </mat-panel-description>
                    <mat-icon class="delete" (click)="this.service.deleteForm(form.formid)">delete</mat-icon>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <span class="versions" *ngFor="let version of form.versionsList let i=index">
                    <p>Version {{version.versionnumber}}</p>
                    <mat-icon class="delete" (click)="this.service.deleteVersion(version.versionid)">delete</mat-icon>
                    <mat-icon (click)="this.getform(form)" class="visibility">visibility</mat-icon>
                </span>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <button routerLink="/home" class="back" title="Go Back">Back</button>
</body>