<body>
    <app-navbar-only></app-navbar-only>
    <div class="forms-container">
        <div class="details">
            <div class="user-info">
                <h2>User Details</h2>
                <div class="fill-date">
                    <strong>Fill Date:</strong> {{ userdata.filldate }}
                </div>
                <strong>User ID:</strong> {{ userdata.user.userid }}<br><br>
                <strong>First Name:</strong> {{ userdata.user.userfirstname }}<br><br>
                <strong>Last Name:</strong> {{ userdata.user.userlastname }}<br><br>
                <strong>Email:</strong> {{ userdata.user.useremailid }}<br><br>
                <strong>Username:</strong> {{ userdata.user.username }}<br>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="data">
            <h2>Filled Form Data</h2>
            <div class=" align">
                <ul>

                    <li *ngFor="let detail of userdata.details" style="margin-bottom: 20px;">
                        <strong>{{ detail.fieldname }}:</strong> {{ detail.value }}
                    </li>

                </ul>
            </div>
        </div>
    </div><button routerLink="/form" class="back" title="Go Back">Back</button>
</body>