body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(240, 229, 241);
}

.forms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    overflow: auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 50px;
}

h2,
ul li,
.user-info,
.fill-date {
    color: #673ab7;
}

h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f3ecff;
    border-radius: 20px;
}

.user-info {
    margin-left: 20px;
    margin-bottom: 20px;
    flex: 1;
    margin-right: 10px;
    justify-content: space-between;
}

.fill-date {
    margin-top: 20px;
    flex: 1 1;
    text-align: right;
}

mat-divider {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 10;
    color: purple;
}

.data {
    border-radius: 20px;
    text-align: left;
    width: 100%;
    background-color: #f3ecff;
}

.data h2 {
    margin-bottom: 10px;
}

.data ul {
    list-style-type: none;
    padding: 0;
}

.data li {
    margin-bottom: 5px;
}

.data li strong {
    margin-right: 5px;
}

.align {
    margin-left: 20px;
}